.App {
  text-align: center;
}
html {
  background:#FFFFFF;
 
}

button {
  display: block;
  width: 512px;
  height: 50px;
  background: #002E5D;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: .3s;
}

button:hover {
  background:#005EB8;
  transition:.4s;
}

.App-header {
    height: auto;
    padding: 0;
    color: #333F48;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    text-align:left;
    background: #FFFFFF;
}
.App-header h1 {
  padding-top: 28px;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  position: absolute;
  color: #FFF;
}
.header-wrapper {
  position: relative;
  background-color: #002E5D;
  display: block;
}
.header-wrapper > div {
  position: relative;
  background-color: #002E5D;
  max-width: 1280px;
  margin: auto;
  display: block;
}

.header-wrapper > div > img {
  width: 50px;
  margin: 25px;
  position: relative;
}
.header-wrapper > * {
  display:inline-block;
}
.signature-container {
    text-align: left;
    margin-left: 35%;
}
.field-wrapper {
    text-align: left;
    margin-left: 34.8%;
}

@keyframes fieldblink {
  0%{color:#fff;}
  50%{color:#222;}
  100%{color:#fff;}
}
.field-wrapper h5 {
  transition:.3s;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
}
.App-header ul {
  list-style: none;
  position: relative;
  border-left: 11px solid #002E5D;
  border-top: 11px solid #002E5D;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 20%;
  border-top-left-radius: 0px;
  background: #FFF;
  box-sizing: border-box;
  padding: 9px 15px;
  max-width: 605px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.App-header li {
  line-height:170%;
  font-size:13px;
}
.App-intr
.App-title {
  font-size: 1.5em;
  color:#FFF;
  position:relative;
  z-index:3;
}

.App-intro {
  font-size: large;
  margin: 15px;
}

.App-intro label {
    padding: 0;
    margin: 9px 0px 8px 0px;
    color: #333F48;
    width: 31%;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 11px;
    display: block;
}

.App-intro input {
    width: 300px;
    height: 29px;
    text-indent: 5px;
    padding: 5px;
    color: #333F48;
    font-size: 12px;
    background: #FFF;
    transition: .3s;
    border-radius: 0px;
    border: unset;
    outline: 1px solid #002E5D;
}

.App-intro input:focus-visible {
  transition: .3s;
  outline: 2px solid #002E5D;
}

.line-one {
    position: relative;
    margin-left: 20%;
    height: 650px;
    position: absolute;
    width: 1px;
    width: 15%;
    border-left: 11px solid #002E5D;
    border-bottom: 11px solid #002E5D;
    box-sizing: border-box;
    border-bottom-left-radius:0px;
}

iframe {
    border: 11px solid #002E5D;
    width: 450px;
    height: 300px;
    padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width:769px){
  .App-header ul {
    margin-left:2.5%;
  }
  .line-one {
    margin-left:2.5%;
    margin-top:-5px;
  }
  .signature-container {
      margin-left: 17.5%;
  }
  .field-wrapper {
    margin-left:17.5%;
  }
  .App-intro input {
    width:60%;
  }
  .App-header {
    min-height:150px;
    height:auto;
    padding:0px;
  }
}

@media (max-width:600px){
  .header-wrapper > img {
    margin-top:15px;
  }
  button {
    display: block;
    width: 412px;
  }
  .line-one {
      width: 0;
      margin-top: -23px;
  }
  iframe {
    transition:padding .5s;
    width:350px;
  }
  .signature-container {
      margin-left: 2.5%;
  }
  .field-wrapper {
      margin-left: 9%;
  }
  .App-header ul {
      margin-left: 2.5%;
      padding-left: 2.5%;
      width: 70%;
  }
  .App-header h1 {
    padding-left:0;
  }
  .App-intro h5 {
    width:50%;
  }
}
